<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Computer Programmimg</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">เพิ่มข้อมูลนักศึกษา</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exammanage">จัดการข้อสอบ</a>
        </li>
      </ul>
      <a href="" class="btn btn-danger" style="margin-left:auto;">ออกจากระบบ</a>
    </div>
  </nav>

  <div class="container mt-3">
    <h2 class="text-center mb-2">
      <button id="download-pdfexam" type="button" class="btn btn-warning btn-lg">ดาวโหลดกระดาษคำตอบ</a></button>
    </h2>
    <form>
      <div class="bg-illustration">
        <center>
          <img src="../assets/images/examsheet.png" width="50%" height="35%">
        </center>
     </form>
  </div>
</body>
</html>

<script>
  var downloadButton = document.getElementById("download-pdfexam");
  downloadButton.addEventListener("click", function() {
    // ระบุ URL ของไฟล์ PDF ที่คุณอัพโหลดขึ้นเว็บเซิร์ฟเวอร์
    var pdfUrl = "../assets/examsheet.pdf";
    // เปิดไฟล์ PDF ในหน้าต่างใหม่
    window.open(pdfUrl);
  });
</script>