<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ผลคะแนนสอบ</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Computer Programmimg</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="" class="btn btn-danger" style="margin-left:auto;">ออกจากระบบ</a>
</nav>
    <div class="w3-container">
        <h1 class="text-center my-4">คะแนนสอบ</h1>
        <div class="container">
          </div>
        <table class="table">
          <thead>
            <tr>
              <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              <th scope="col">ลำดับ</th>
              <th scope="col">รหัสนักศึกษา</th>
              <th scope="col">ชื่อ</th>
              <th scope="col">นามสกุล</th>
              <th scope="col">คะแนนสอบ</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td></td>
                <th scope="row"></th>
                <td>1</td>
                <td>กก</td>
                <td>กก</td>
                <td>20</td>
              </tr>
            
          </tbody>
        </table>
      </div>
    </body>
</html>
